
:root{
	--color-general:#333;
	--color-titulos:#000;
	--color-amarillo:#ffda79;
	--color-azul-fondo:#cce4e4;
	--color-azul-subtitulo: #c1dada;
	--color-azul-sobre-azul: #17494d;
	--color-texto-sobre-morado: #4e4e4e;
	--fondo-morado: #d6bbf6;
     --fondo-footer: #fff;


	
}
body{
	
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: bolder;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	color: var(--color-titulos);
}

#hero {
	text-align: center;
	padding-bottom: 100px;

}


#hero p{
 background-color: var(--color-amarillo);
 border-radius: 5px;
 text-align: left;
 

 color: #000;
 
}

#parte-uno-hero{
	margin-top: 100px;
	text-align: left;
}

#parte-uno-hero p{
	 margin-bottom: 20px;
}
#parte-uno-hero h1{
	margin-bottom: 20px;
}

#parte-uno-hero .btn-primary{
	background-color: var(--color-titulos);
	color: var(--fondo-footer);
	padding: 10px 70px;
	border-radius: 0px;
}


.raleway {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: bolder;
	font-style: normal;
  }

  #clients {
	text-align: center;
	padding-bottom: 100px;
  }

  #clients img{
 opacity: 0.5;
  }

  #about{
	background-color: var(--color-azul-fondo);
	padding: 100px;
	color: var(--color-titulos);
  }

  #about .marcado-fondo {
	background-color: var(--color-azul-subtitulo);
	padding: 4px 10px;
	margin-bottom: 40px;

  }

  #about h2{
 margin-bottom: 40px;
  }
  
  #countries{
	text-align: center;
	padding: 80px;
	
  }

  #countries h5{
	color: var(--color-titulos);
	background-color: var(--color-amarillo);
	border-radius: 5px;
	margin-bottom: 20px;
  }

  #contries h2{
	margin-bottom: 50px;
  }

  #subscribe {
text-align: center;
background-color: var(--fondo-morado);
padding: 110px;
  }

  #subscribe h3 {
 text-align: left;
  }
  
  #subscribe p{
text-align: left;
color: var(--color-texto-sobre-morado);
  }



#subscribe .btn-primary{
	background-color: var(--color-titulos);
	color: var(--fondo-footer);
	padding: 10px 70px;
	border-radius: 0px;
}

footer{
	padding: 130px;
}

#hero img{
	margin-top: 30px;

}

.btn:hover{
	background-color: #4e4e4e;
}